In [7]:
import pandas as pd

In [10]:
pvt_wet_gas = {'P,Mpa': [71.07, 67.62, 64.17, 60.72, 57.27, 53.82,
                         50.37, 46.92, 43.47, 40.02, 36.57, 33.12, 
                         29.67, 26.22, 22.77, 19.32, 15.87, 12.42,
                         8.97, 7.25, 5.52, 5.09, 2.07], 
                'Bg, ': [2.81, 2.86, 2.92, 2.99, 3.06, 3.14, 3.24,
                         3.35, 3.49, 3.64, 3.82, 4.04, 4.32, 4.66,
                         5.17, 5.95, 7.13, 9.15, 12.69, 16.42, 20.16,
                         23.53, 47.11]}
df_pvt = pd.DataFrame(data=pvt_wet_gas)
df_pvt

    P,Mpa   Bg,
0   71.07   2.81
1   67.62   2.86
2   64.17   2.92
3   60.72   2.99
4   57.27   3.06
5   53.82   3.14
6   50.37   3.24
7   46.92   3.35
8   43.47   3.49
9   40.02   3.64
10  36.57   3.82
11  33.12   4.04
12  29.67   4.32
13  26.22   4.66
14  22.77   5.17
15  19.32   5.95
16  15.87   7.13
17  12.42   9.15
18   8.97  12.69
19   7.25  16.42
20   5.52  20.16
21   5.09  23.53
22   2.07  47.11